.upload_input_container {
  width: 100%;
  height: 150px;
  border: 2px dashed #cfcfcf;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.upload_input_container.border-blue-500 {
  border: 2px dashed #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}
