.active::after {
  content: '';
  position: absolute;
  bottom: -24px;
  width: 100%;
  height: 4px;
  background-color: var(--color-primary);
}

/* Hide the underline effect for small screens */
@media (max-width: 767px) {
  .active::after {
    display: none;
  }
}
